{% extends "AvantagesUserBundle::adminbase.html.twig" %}

{% block body %}

{{ parent() }}

<div class="page-header">
    <h1>{% trans %}Customer List{% endtrans %}</h1>
</div>

<p>
    {{ pagerfanta(pager, 'twitter_bootstrap') }}
</p>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_user_customer_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

<table class="table table-bordered table-striped table-condensed records_list">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Id</th>
            <th>Civility</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Postcode</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Phone2</th>
            <th>Birthday</th>
            <th>Newsletter</th>
            <th colspan="3">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager.currentPageResults %}
        <tr>
            <td><a href="{{ path('admin_user_customer_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{{ entity.id }}</td>
            <td>{{ entity.civility }}</td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.postCode }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.country }}</td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.phone2 }}</td>
            <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.newsletter }}</td>
        <td>
                    <a class="btn btn-block" href="{{ path('admin_user_customer_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                </td>
        <td>
                    <a class="btn btn-block btn-primary" href="{{ path('admin_user_customer_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                </td>
        <td>
                    {% render 'AvantagesUserBundle:Customer:deleteForm' with { 'id': entity.id } %}
                </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_user_customer_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
