{% extends "AvantagesPartnerBundle::basepartner.html.twig" %}

{% block body %}

{{ parent() }}
<ul class="breadcrumb">
  <li><a href="{{ path('partner_home') }}">Accueil</a> <span class="divider">/</span></li>
  <li><a href="{{ path('partner_downloadableproduct') }}">Liste de mes produits</a> <span class="divider">/</span></li>
  <li class="active">{{ entity.name }}</li>
</ul>

<div class="page-header">
  <h1>{% trans %}Edit{% endtrans %} <small>{{ entity.name }}</small></h1>
</div>

<form action="{{ path('partner_downloadableproduct_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('partner_downloadableproduct') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('partner_downloadableproduct_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock body %}