{% extends "AvantagesPartnerBundle::basepartner.html.twig" %}

{% block body %}

{{ parent() }}
<ul class="breadcrumb">
  <li><a href="{{ path('partner_home') }}">Accueil</a> <span class="divider">/</span></li>
  <li><a href="{{ path('partner_downloadableproduct') }}">Liste de mes produits</a> <span class="divider">/</span></li>
  <li class="active">Nouveau produit</li>
</ul>

<div class="page-header">
  <h1>{% trans %}Créer un produit{% endtrans %}</h1>
</div>

<form action="{{ path('partner_downloadableproduct_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('partner_downloadableproduct') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
